@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Public Sans";
    src: url("/fonts/PublicSans.woff2") format("woff2-variations");
    src: url("/fonts/PublicSans.woff2") format("woff2") tech("variations");
    font-weight: 300 700;
    font-stretch: 25% 151%;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Serif";
    src: url("/fonts/roboto-serif.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Geist Mono";
    src: url("/fonts/GeistMono.woff2") format("woff2-variations");
    src: url("/fonts/GeistMono.woff2") format("woff2") tech("variations");
    font-weight: 400;
    font-stretch: 25% 151%;
    font-style: normal;
    font-display: swap;
  }
}

html {
  overflow-y: scroll;
  color-scheme: light;
  background-color: white;
  font-family: "Public Sans", sans-serif;
}

html.dark {
  color-scheme: dark;
  background-color: black;
}

html,
body {
  @apply h-full w-full antialiased;
  @apply bg-white dark:bg-black;
  @apply text-black/75 dark:text-white/75;
}

body {
  @apply relative flex flex-col;
}

main {
  @apply flex flex-col flex-1 bg-white dark:bg-black;
}

header {
  @apply border-b;
  @apply transition-all duration-300 ease-in-out;

  &.scrolled {
    @apply bg-white/75 dark:bg-black/50;
    @apply border-black/10 dark:border-white/25;
    @apply backdrop-blur-sm saturate-200;
  }
  &:not(.scrolled) {
    @apply bg-transparent border-transparent;
  }
}

/* header:not(.scrolled) {
  @apply bg-transparent border-transparent;
}

header.scrolled {
  @apply bg-white/75 dark:bg-black/50;
  @apply border-black/10 dark:border-white/25;
  @apply backdrop-blur-sm saturate-200;
}
 */

article {
  @apply prose dark:prose-invert prose-headings:font-bold max-w-full pb-12;
}

.page-heading {
  @apply font-semibold text-black dark:text-white;
}

.blend {
  @apply transition-all duration-300 ease-in-out;
}

/** Light theme particles on home page */
@keyframes animateParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/** styles for public /animation.js */
.animate {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 1s ease,
    transform 1s ease;
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .animate.show {
  opacity: 1;
  transform: translateY(0);
} */

article img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@layer components {
  .prose :where(code):not(:where([class~="not-prose"] *))::before {
    content: none;
  }

  .prose :where(code):not(:where([class~="not-prose"] *))::after {
    content: none;
  }

  .prose mark {
    @apply bg-pink-300;
  }

  .prose a {
    @apply underline decoration-[var(--decoration-color-subtle)] hover:decoration-green-500 decoration-[0.1071428571rem];
  }

  .prose strong {
    @apply font-semibold;
  }

  .prose ul {
    @apply pl-6 space-y-0.5  marker:text-[var(--text-color-subtle)];
  }

  .prose ul li ul {
    @apply mt-0.5;
  }

  .prose kbd {
    @apply bg-neutral-100 dark:bg-neutral-800 py-px px-1 rounded;
  }
}
