/* src/components/Editor.module.css */
.editor {
  height: 136px;
  border-width: 2px;
  border-radius: 8px;
  position: relative;
}
.viewer {
  height: auto;
  min-height: 1rem;
  position: relative;
}
.viewer :global(.tiptap-editor) {
}
.editor :global(.tiptap-editor) {
  height: 100%;
  padding: 8px;
  overflow: auto;
  border: none !important;
  outline: none !important;
}

/* src/global.css */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
::before,
::after {
  --tw-content: "";
}
html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  inset: 0px;
}
.bottom-0 {
  bottom: 0px;
}
.left-0 {
  left: 0px;
}
.right-0 {
  right: 0px;
}
.top-0 {
  top: 0px;
}
.-z-10 {
  z-index: -10;
}
.z-10 {
  z-index: 10;
}
.m-\[3px\] {
  margin: 3px;
}
.mx-\[3px\] {
  margin-left: 3px;
  margin-right: 3px;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.\!-mt-4 {
  margin-top: -1rem !important;
}
.-ml-2 {
  margin-left: -0.5rem;
}
.mr-4 {
  margin-right: 1rem;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.h-10 {
  height: 2.5rem;
}
.h-4 {
  height: 1rem;
}
.h-6 {
  height: 1.5rem;
}
.h-7 {
  height: 1.75rem;
}
.h-8 {
  height: 2rem;
}
.h-\[12px\] {
  height: 12px;
}
.h-\[22px\] {
  height: 22px;
}
.h-full {
  height: 100%;
}
.max-h-\[320px\] {
  max-height: 320px;
}
.w-10 {
  width: 2.5rem;
}
.w-4 {
  width: 1rem;
}
.w-6 {
  width: 1.5rem;
}
.w-8 {
  width: 2rem;
}
.w-\[12px\] {
  width: 12px;
}
.w-\[22px\] {
  width: 22px;
}
.w-full {
  width: 100%;
}
.min-w-\[300px\] {
  min-width: 300px;
}
.min-w-fit {
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.flex-1 {
  flex: 1 1 0%;
}
.cursor-pointer {
  cursor: pointer;
}
.flex-col {
  flex-direction: column;
}
.place-items-center {
  place-items: center;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-\[3px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(3px * var(--tw-space-x-reverse));
  margin-left: calc(3px * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-0 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0px * var(--tw-space-y-reverse));
}
.space-y-0\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.125rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.125rem * var(--tw-space-y-reverse));
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-auto {
  overflow-y: auto;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.border-2 {
  border-width: 2px;
}
.border-t-2 {
  border-top-width: 2px;
}
.border-\[color\:var\(--accent-200\)\] {
  border-color: var(--accent-200);
}
.border-transparent {
  border-color: transparent;
}
.bg-\[color\:var\(--accent-50\)\] {
  background-color: var(--accent-50);
}
.bg-neutral-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.p-0 {
  padding: 0px;
}
.p-0\.5 {
  padding: 0.125rem;
}
.p-1 {
  padding: 0.25rem;
}
.p-1\.5 {
  padding: 0.375rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.\!px-\[6px\] {
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.\!py-\[3px\] {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.px-0\.5 {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pb-8 {
  padding-bottom: 2rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.text-center {
  text-align: center;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.text-\[color\:var\(--accent-900\)\] {
  color: var(--accent-900);
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.editor :global(.tiptap-editor) {
  height: 100%;
  padding: 8px;
  overflow: auto;
  border: none !important;
  outline: none !important;
}
.comments .sbui-loading-spinner {
  color: var(--accent-400) !important;
}
.tiptap-editor .mention {
  font-size: 0.92rem;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 2px 3px;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  user-select: text !important;
}
.dark .tiptap-editor .mention {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.tiptap-editor code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}
.tiptap-editor pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin: 0.25rem 0rem !important;
}
.tiptap-editor pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.tiptap-editor pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.tiptap-editor code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.tiptap-editor .hljs-comment,
.hljs-quote {
  color: #616161 !important;
}
.tiptap-editor .hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181 !important;
}
.tiptap-editor .hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88 !important;
}
.tiptap-editor .hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d !important;
}
.tiptap-editor .hljs-title,
.hljs-section {
  color: #fad594 !important;
}
.tiptap-editor .hljs-keyword,
.hljs-selector-tag {
  color: #70cff8 !important;
}
.tiptap-editor .hljs-emphasis {
  font-style: italic !important;
}
.tiptap-editor .hljs-strong {
  font-weight: 700;
}
.tiptap-editor .tiptap-link {
  text-decoration: underline;
  filter: brightness(110%);
}
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 8px;
  left: 8px;
  pointer-events: none;
  font-size: 1rem;
  --tw-text-opacity: 0.4 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .ProseMirror p.is-editor-empty:first-child)::before {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.tiptap-editor ul {
  padding: 0 1rem;
  list-style-type: disc;
}
.tiptap-editor ol {
  padding: 0 1rem;
  list-style-type: decimal;
}
.text-alpha {
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .text-alpha) {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-alpha-10 {
  --tw-text-opacity: 0.1 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .text-alpha-10) {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-alpha-20 {
  --tw-text-opacity: 0.2 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .text-alpha-20) {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-alpha-30 {
  --tw-text-opacity: 0.3 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .text-alpha-30) {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-alpha-40 {
  --tw-text-opacity: 0.4 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .text-alpha-40) {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-alpha-50 {
  --tw-text-opacity: 0.5 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .text-alpha-50) {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-alpha-60 {
  --tw-text-opacity: 0.6 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .text-alpha-60) {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-alpha-70 {
  --tw-text-opacity: 0.7 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .text-alpha-70) {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-alpha-80 {
  --tw-text-opacity: 0.8 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .text-alpha-80) {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-alpha-90 {
  --tw-text-opacity: 0.9 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .text-alpha-90) {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-alpha-100 {
  --tw-text-opacity: 1 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
:is(.dark .text-alpha-100) {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.border-alpha {
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
:is(.dark .border-alpha) {
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-alpha-10 {
  --tw-border-opacity: 0.1 !important;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
:is(.dark .border-alpha-10) {
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-alpha-20 {
  --tw-border-opacity: 0.2 !important;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
:is(.dark .border-alpha-20) {
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-alpha-30 {
  --tw-border-opacity: 0.3 !important;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
:is(.dark .border-alpha-30) {
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-alpha-40 {
  --tw-border-opacity: 0.4 !important;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
:is(.dark .border-alpha-40) {
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-alpha-50 {
  --tw-border-opacity: 0.5 !important;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
:is(.dark .border-alpha-50) {
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-alpha-60 {
  --tw-border-opacity: 0.6 !important;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
:is(.dark .border-alpha-60) {
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-alpha-70 {
  --tw-border-opacity: 0.7 !important;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
:is(.dark .border-alpha-70) {
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-alpha-80 {
  --tw-border-opacity: 0.8 !important;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
:is(.dark .border-alpha-80) {
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-alpha-90 {
  --tw-border-opacity: 0.9 !important;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
:is(.dark .border-alpha-90) {
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-alpha-100 {
  --tw-border-opacity: 1 !important;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
:is(.dark .border-alpha-100) {
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.bg-alpha {
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-alpha-5 {
  --tw-bg-opacity: 0.05 !important;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha-5) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-alpha-10 {
  --tw-bg-opacity: 0.1 !important;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha-10) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-alpha-20 {
  --tw-bg-opacity: 0.2 !important;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha-20) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-alpha-30 {
  --tw-bg-opacity: 0.3 !important;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha-30) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-alpha-40 {
  --tw-bg-opacity: 0.4 !important;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha-40) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-alpha-50 {
  --tw-bg-opacity: 0.5 !important;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha-50) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-alpha-60 {
  --tw-bg-opacity: 0.6 !important;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha-60) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-alpha-70 {
  --tw-bg-opacity: 0.7 !important;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha-70) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-alpha-80 {
  --tw-bg-opacity: 0.8 !important;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha-80) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-alpha-90 {
  --tw-bg-opacity: 0.9 !important;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha-90) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-alpha-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
:is(.dark .bg-alpha-100) {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.tiptap-editor .sbui-btn:disabled {
  opacity: 0.66;
}
.tiptap-editor .sbui-btn-primary {
  background-color: var(--accent-500) !important;
  color: var(--accent-50) !important;
}
.tiptap-editor .sbui-btn-primary:hover {
  background-color: var(--accent-400) !important;
}
.dark .tiptap-editor .sbui-btn-primary:hover {
  background-color: var(--accent-600) !important;
}
:is(.dark .dark\:border-\[color\:var\(--accent-600\)\]) {
  border-color: var(--accent-600);
}
:is(.dark .dark\:bg-\[color\:var\(--accent-900\)\]) {
  background-color: var(--accent-900);
}
:is(.dark .dark\:bg-neutral-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
}
:is(.dark .dark\:text-\[color\:var\(--accent-50\)\]) {
  color: var(--accent-50);
}
