/* NOTION CSS OVERRIDE */

.notion {
  @apply font-sans text-gray-600 dark:text-gray-300;
  overflow-wrap: break-word;
}
.notion,
.notion-text,
.notion-quote,
.notion-h-title {
  @apply leading-8;
  @apply p-0;
  @apply my-3;
}
.notion-page-link {
  color: inherit;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-bookmark {
  @apply border;
  @apply border-gray-100;
  color: inherit;
}

.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-gray-900 dark:text-gray-200;
}

.notion-bookmark .notion-bookmark-description {
  @apply text-gray-600 dark:text-gray-300;
}

.notion-code > code {
  @apply text-gray-900;
}

pre[class*="language-"] {
  line-height: inherit;
}

.notion-bookmark:hover {
  @apply border-blue-400;
}
.notion-viewport {
  z-index: -10;
}
.notion-asset-caption {
  @apply text-center;
  @apply text-gray-500 dark:text-gray-400;
}
.notion-full-width {
  @apply px-0;
}
.notion-page {
  @apply w-auto;
  @apply px-0;
}
.notion-quote {
  padding: 0.2em 0.9em;
}
.notion-collection {
  @apply max-w-full;
}
.notion-collection > .notion-collection-header {
  @apply px-0 !important;
}
.notion-collection > .notion-table {
  @apply max-w-full !important;
}
.notion-collection > .notion-table > .notion-table-view {
  @apply px-0 !important;
}
.notion-collection-view-type {
  @apply hidden;
}
.notion-collection-row {
  @apply hidden;
}

.notion-row {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 640px) {
  .notion-row {
    flex-direction: column;
  }
  .notion-row .notion-column {
    width: 100% !important;
  }
  .notion-bookmark-image,
  .notion-row .notion-spacer {
    display: none;
  }
}

.notion-column {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 12px;
}
.notion-column > :first-child {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.notion-column > :last-child {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.notion-column .notion-bookmark-image,
.notion-external-mention .notion-external-subtitle,
.notion-property-checkbox-text,
.notion-spacer:last-child {
  display: none;
}
.notion-spacer {
  width: calc(min(32px, 4vw));
}

.notion-column .notion-board-view,
.notion-column .notion-collection-header,
.notion-column .notion-table-view,
.notion-lite .notion-board-view,
.notion-lite .notion-collection-header,
.notion-lite .notion-table-view,
.notion-toggle .notion-board-view,
.notion-toggle .notion-collection-header,
.notion-toggle .notion-table-view {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.notion-column .notion-board,
.notion-column .notion-table,
.notion-toggle .notion-board,
.notion-toggle .notion-table {
  width: 100% !important;
  max-width: 100% !important;
}
